div #tab {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-weight: bold;}
    body{
        background: orange;
        transition: all 0.5s;
    }